@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
@*
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>Hello!</h1>
        <p>I'm Asad </br> <span class="typed" data-typed-items="Web Developer,Web Designer,.net Core MVC Developer."></span></p>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About</h2>
                <p>
                    1+ Year of Experience in Designing and developing Web applications.Expertise in Web development with .Net core, C#, Asp.Net, MVC, JavaScript,Bootstrap jQuery, CSS, HTML.
                    Good knowledge in RDBMS (SQL server) which includes design and management of data.
                </p>
                @*<a href="~/img/dot.net_developer_asad_cv.pdf
                    <button type="button" class="btn btn-info"> Download CV </button></a>
            </div>
        </div>
    </section>
</main>*@ 
